*.launch
*.vs

# From Spring Initializr

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#############
# From Github

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#############
# Additional from Swagger

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# build files
.gradle

# MACOS
.DS_Store
iris-client-eps/settings/test/certs/demo-app-alt.crt
iris-client-eps/settings/test/certs/demo-app-alt.csr
iris-client-eps/settings/test/certs/demo-app-alt.key
iris-client-eps/settings/test/certs/demo-app-alt.pub
iris-client-eps/settings/test/certs/demo-app-sign-alt.crt
iris-client-eps/settings/test/certs/demo-app-sign-alt.csr
iris-client-eps/settings/test/certs/demo-app-sign-alt.key
iris-client-eps/settings/test/certs/demo-app-sign-alt.pub
iris-client-eps/settings/test/certs/demo-app-sign.crt
iris-client-eps/settings/test/certs/demo-app-sign.csr
iris-client-eps/settings/test/certs/demo-app-sign.key
iris-client-eps/settings/test/certs/demo-app-sign.pub
iris-client-eps/settings/test/certs/demo-app.crt
iris-client-eps/settings/test/certs/demo-app.csr
iris-client-eps/settings/test/certs/demo-app.key
iris-client-eps/settings/test/certs/demo-app.pub
iris-client-eps/settings/test/certs/hd-1-alt.crt
iris-client-eps/settings/test/certs/hd-1-alt.csr
iris-client-eps/settings/test/certs/hd-1-alt.key
iris-client-eps/settings/test/certs/hd-1-alt.pub
iris-client-eps/settings/test/certs/hd-1-sign-alt.crt
iris-client-eps/settings/test/certs/hd-1-sign-alt.csr
iris-client-eps/settings/test/certs/hd-1-sign-alt.key
iris-client-eps/settings/test/certs/hd-1-sign-alt.pub
iris-client-eps/settings/test/certs/hd-1-sign.crt
iris-client-eps/settings/test/certs/hd-1-sign.csr
iris-client-eps/settings/test/certs/hd-1-sign.key
iris-client-eps/settings/test/certs/hd-1-sign.pub
iris-client-eps/settings/test/certs/hd-1.crt
iris-client-eps/settings/test/certs/hd-1.csr
iris-client-eps/settings/test/certs/hd-1.key
iris-client-eps/settings/test/certs/hd-1.pub
iris-client-eps/settings/test/certs/internal-server-alt.crt
iris-client-eps/settings/test/certs/internal-server-alt.csr
iris-client-eps/settings/test/certs/internal-server-alt.key
iris-client-eps/settings/test/certs/internal-server-alt.pub
iris-client-eps/settings/test/certs/internal-server-sign-alt.crt
iris-client-eps/settings/test/certs/internal-server-sign-alt.csr
iris-client-eps/settings/test/certs/internal-server-sign-alt.key
iris-client-eps/settings/test/certs/internal-server-sign-alt.pub
iris-client-eps/settings/test/certs/internal-server-sign.crt
iris-client-eps/settings/test/certs/internal-server-sign.csr
iris-client-eps/settings/test/certs/internal-server-sign.key
iris-client-eps/settings/test/certs/internal-server-sign.pub
iris-client-eps/settings/test/certs/internal-server.crt
iris-client-eps/settings/test/certs/internal-server.csr
iris-client-eps/settings/test/certs/internal-server.key
iris-client-eps/settings/test/certs/internal-server.pub
iris-client-eps/settings/test/certs/ls-1-alt.crt
iris-client-eps/settings/test/certs/ls-1-alt.csr
iris-client-eps/settings/test/certs/ls-1-alt.key
iris-client-eps/settings/test/certs/ls-1-alt.pub
iris-client-eps/settings/test/certs/ls-1-sign-alt.crt
iris-client-eps/settings/test/certs/ls-1-sign-alt.csr
iris-client-eps/settings/test/certs/ls-1-sign-alt.key
iris-client-eps/settings/test/certs/ls-1-sign-alt.pub
iris-client-eps/settings/test/certs/ls-1-sign.crt
iris-client-eps/settings/test/certs/ls-1-sign.csr
iris-client-eps/settings/test/certs/ls-1-sign.key
iris-client-eps/settings/test/certs/ls-1-sign.pub
iris-client-eps/settings/test/certs/ls-1.crt
iris-client-eps/settings/test/certs/ls-1.csr
iris-client-eps/settings/test/certs/ls-1.key
iris-client-eps/settings/test/certs/ls-1.pub
iris-client-eps/settings/test/certs/op-1-alt.crt
iris-client-eps/settings/test/certs/op-1-alt.csr
iris-client-eps/settings/test/certs/op-1-alt.key
iris-client-eps/settings/test/certs/op-1-alt.pub
iris-client-eps/settings/test/certs/op-1-sign-alt.crt
iris-client-eps/settings/test/certs/op-1-sign-alt.csr
iris-client-eps/settings/test/certs/op-1-sign-alt.key
iris-client-eps/settings/test/certs/op-1-sign-alt.pub
iris-client-eps/settings/test/certs/op-1-sign.crt
iris-client-eps/settings/test/certs/op-1-sign.csr
iris-client-eps/settings/test/certs/op-1-sign.key
iris-client-eps/settings/test/certs/op-1-sign.pub
iris-client-eps/settings/test/certs/op-1.crt
iris-client-eps/settings/test/certs/op-1.csr
iris-client-eps/settings/test/certs/op-1.key
iris-client-eps/settings/test/certs/op-1.pub
iris-client-eps/settings/test/certs/op-2-alt.crt
iris-client-eps/settings/test/certs/op-2-alt.csr
iris-client-eps/settings/test/certs/op-2-alt.key
iris-client-eps/settings/test/certs/op-2-alt.pub
iris-client-eps/settings/test/certs/op-2-sign-alt.crt
iris-client-eps/settings/test/certs/op-2-sign-alt.csr
iris-client-eps/settings/test/certs/op-2-sign-alt.key
iris-client-eps/settings/test/certs/op-2-sign-alt.pub
iris-client-eps/settings/test/certs/op-2-sign.crt
iris-client-eps/settings/test/certs/op-2-sign.csr
iris-client-eps/settings/test/certs/op-2-sign.key
iris-client-eps/settings/test/certs/op-2-sign.pub
iris-client-eps/settings/test/certs/op-2.crt
iris-client-eps/settings/test/certs/op-2.csr
iris-client-eps/settings/test/certs/op-2.key
iris-client-eps/settings/test/certs/op-2.pub
iris-client-eps/settings/test/certs/private-proxy-1-alt.crt
iris-client-eps/settings/test/certs/private-proxy-1-alt.csr
iris-client-eps/settings/test/certs/private-proxy-1-alt.key
iris-client-eps/settings/test/certs/private-proxy-1-alt.pub
iris-client-eps/settings/test/certs/private-proxy-1-sign-alt.crt
iris-client-eps/settings/test/certs/private-proxy-1-sign-alt.csr
iris-client-eps/settings/test/certs/private-proxy-1-sign-alt.key
iris-client-eps/settings/test/certs/private-proxy-1-sign-alt.pub
iris-client-eps/settings/test/certs/private-proxy-1-sign.crt
iris-client-eps/settings/test/certs/private-proxy-1-sign.csr
iris-client-eps/settings/test/certs/private-proxy-1-sign.key
iris-client-eps/settings/test/certs/private-proxy-1-sign.pub
iris-client-eps/settings/test/certs/private-proxy-1.crt
iris-client-eps/settings/test/certs/private-proxy-1.csr
iris-client-eps/settings/test/certs/private-proxy-1.key
iris-client-eps/settings/test/certs/private-proxy-1.pub
iris-client-eps/settings/test/certs/public-proxy-1-alt.crt
iris-client-eps/settings/test/certs/public-proxy-1-alt.csr
iris-client-eps/settings/test/certs/public-proxy-1-alt.key
iris-client-eps/settings/test/certs/public-proxy-1-alt.pub
iris-client-eps/settings/test/certs/public-proxy-1-sign-alt.crt
iris-client-eps/settings/test/certs/public-proxy-1-sign-alt.csr
iris-client-eps/settings/test/certs/public-proxy-1-sign-alt.key
iris-client-eps/settings/test/certs/public-proxy-1-sign-alt.pub
iris-client-eps/settings/test/certs/public-proxy-1-sign.crt
iris-client-eps/settings/test/certs/public-proxy-1-sign.csr
iris-client-eps/settings/test/certs/public-proxy-1-sign.key
iris-client-eps/settings/test/certs/public-proxy-1-sign.pub
iris-client-eps/settings/test/certs/public-proxy-1.crt
iris-client-eps/settings/test/certs/public-proxy-1.csr
iris-client-eps/settings/test/certs/public-proxy-1.key
iris-client-eps/settings/test/certs/public-proxy-1.pub
iris-client-eps/settings/test/certs/root.crt
iris-client-eps/settings/test/certs/root.key
iris-client-eps/settings/test/certs/root.srl
iris-client-eps/settings/test/certs/sd-1-alt.crt
iris-client-eps/settings/test/certs/sd-1-alt.csr
iris-client-eps/settings/test/certs/sd-1-alt.key
iris-client-eps/settings/test/certs/sd-1-alt.pub
iris-client-eps/settings/test/certs/sd-1-sign-alt.crt
iris-client-eps/settings/test/certs/sd-1-sign-alt.csr
iris-client-eps/settings/test/certs/sd-1-sign-alt.key
iris-client-eps/settings/test/certs/sd-1-sign-alt.pub
iris-client-eps/settings/test/certs/sd-1-sign.crt
iris-client-eps/settings/test/certs/sd-1-sign.csr
iris-client-eps/settings/test/certs/sd-1-sign.key
iris-client-eps/settings/test/certs/sd-1-sign.pub
iris-client-eps/settings/test/certs/sd-1.crt
iris-client-eps/settings/test/certs/sd-1.csr
iris-client-eps/settings/test/certs/sd-1.key
iris-client-eps/settings/test/certs/sd-1.pub
iris-client-eps/settings/test/directory/002_certificates.json
